# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
chat/__pycache__/
chat/migrations/__pycache__/
venv/Include/
venv/Lib/site-packages/Automat-20.2.0.dist-info/
venv/Lib/site-packages/Django-3.1.1.dist-info/
venv/Lib/site-packages/OpenSSL/
venv/Lib/site-packages/PyHamcrest-2.0.2.dist-info/
venv/Lib/site-packages/Twisted-20.3.0.dist-info/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/_cffi_backend.cp37-win_amd64.pyd
venv/Lib/site-packages/_distutils_hack/
venv/Lib/site-packages/asgiref-3.2.10.dist-info/
venv/Lib/site-packages/asgiref/
venv/Lib/site-packages/attr/
venv/Lib/site-packages/attrs-20.2.0.dist-info/
venv/Lib/site-packages/autobahn-20.7.1.dist-info/
venv/Lib/site-packages/autobahn/__init__.py
venv/Lib/site-packages/autobahn/__main__.py
venv/Lib/site-packages/autobahn/__pycache__/
venv/Lib/site-packages/autobahn/_version.py
venv/Lib/site-packages/autobahn/asyncio/
venv/Lib/site-packages/autobahn/exception.py
venv/Lib/site-packages/autobahn/nvx/
venv/Lib/site-packages/autobahn/rawsocket/
venv/Lib/site-packages/autobahn/test/
venv/Lib/site-packages/autobahn/twisted/
venv/Lib/site-packages/autobahn/util.py
venv/Lib/site-packages/autobahn/wamp/__init__.py
venv/Lib/site-packages/autobahn/wamp/__pycache__/
venv/Lib/site-packages/autobahn/wamp/auth.py
venv/Lib/site-packages/autobahn/wamp/component.py
venv/Lib/site-packages/autobahn/wamp/cryptobox.py
venv/Lib/site-packages/autobahn/wamp/cryptosign.py
venv/Lib/site-packages/autobahn/wamp/exception.py
venv/Lib/site-packages/autobahn/wamp/interfaces.py
venv/Lib/site-packages/autobahn/wamp/message.py
venv/Lib/site-packages/autobahn/wamp/message_fbs.py
venv/Lib/site-packages/autobahn/wamp/protocol.py
venv/Lib/site-packages/autobahn/wamp/request.py
venv/Lib/site-packages/autobahn/wamp/role.py
venv/Lib/site-packages/autobahn/wamp/serializer.py
venv/Lib/site-packages/autobahn/wamp/test/
venv/Lib/site-packages/autobahn/wamp/types.py
venv/Lib/site-packages/autobahn/wamp/uri.py
venv/Lib/site-packages/autobahn/wamp/websocket.py
venv/Lib/site-packages/autobahn/websocket/
venv/Lib/site-packages/autobahn/xbr/
venv/Lib/site-packages/automat/
venv/Lib/site-packages/cffi-1.14.2.dist-info/
venv/Lib/site-packages/cffi/
venv/Lib/site-packages/channels-2.4.0.dist-info/
venv/Lib/site-packages/channels/
venv/Lib/site-packages/click-7.1.2.dist-info/
venv/Lib/site-packages/click/
venv/Lib/site-packages/constantly-15.1.0.dist-info/
venv/Lib/site-packages/constantly/
venv/Lib/site-packages/cryptography-3.1.dist-info/
venv/Lib/site-packages/cryptography/
venv/Lib/site-packages/daphne-2.5.0.dist-info/
venv/Lib/site-packages/daphne/
venv/Lib/site-packages/distutils-precedence.pth
venv/Lib/site-packages/django/
venv/Lib/site-packages/easy_install.py
venv/Lib/site-packages/exampleproj/
venv/Lib/site-packages/h11-0.9.0.dist-info/
venv/Lib/site-packages/h11/
venv/Lib/site-packages/hamcrest/
venv/Lib/site-packages/hyperlink-20.0.1.dist-info/
venv/Lib/site-packages/hyperlink/
venv/Lib/site-packages/idna-2.10.dist-info/
venv/Lib/site-packages/idna/
venv/Lib/site-packages/incremental-17.5.0.dist-info/
venv/Lib/site-packages/incremental/
venv/Lib/site-packages/pip-20.2.3.dist-info/
venv/Lib/s
ite-packages/pip/
venv/Lib/site-packages/pkg_resources/
venv/Lib/site-packages/pyOpenSSL-19.1.0.dist-info/
venv/Lib/site-packages/pyasn1-0.4.8.dist-info/
venv/Lib/site-packages/pyasn1/
venv/Lib/site-packages/pyasn1_modules-0.2.8.dist-info/
venv/Lib/site-packages/pyasn1_modules/
venv/Lib/site-packages/pycparser-2.20.dist-info/
venv/Lib/site-packages/pycparser/
venv/Lib/site-packages/pytz-2020.1.dist-info/
venv/Lib/site-packages/pytz/
venv/Lib/site-packages/service_identity-18.1.0.dist-info/
venv/Lib/site-packages/service_identity/
venv/Lib/site-packages/setuptools-50.3.0.dist-info/
venv/Lib/site-packages/setuptools/
venv/Lib/site-packages/six-1.15.0.dist-info/
venv/Lib/site-packages/six.py
venv/Lib/site-packages/sqlparse-0.3.1.dist-info/
venv/Lib/site-packages/sqlparse/
venv/Lib/site-packages/twisted/
venv/Lib/site-packages/txaio-20.4.1.dist-info/
venv/Lib/site-packages/txaio/
venv/Lib/site-packages/uvicorn-0.11.8.dist-info/
venv/Lib/site-packages/uvicorn/
venv/Lib/site-packages/websockets-8.1.dist-info/
venv/Lib/site-packages/websockets/
venv/Lib/site-packages/zope.interface-5.1.0-py3.7-nspkg.pth
venv/Lib/site-packages/zope.interface-5.1.0.dist-info/
venv/Lib/site-packages/zope/
venv/Scripts/
venv/pyvenv.cfg
websocket_app/__pycache__/
